.h-wrapper{
    background: var(--black);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu{
    display: flex;
    gap:2rem;
    align-items: center;
}